# Movie Gross Data Scraping

In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
highest_grossing=pd.read_csv('raw data\Highest-grossing films in the United States by year.csv',delimiter=',',encoding='utf-8')

In [3]:
highest_grossing.head()

   Year                     Film         Gross
0  1977                Star Wars  $221,280,994
1  1978                 Superman  $134,218,018
2  1979        Kramer vs. Kramer  $106,260,000
3  1980  The Empire Strikes Back  $181,379,640
4  1981  Raiders of the Lost Ark  $212,222,025

In [72]:
int(highest_grossing.iloc[0]['Gross'][1:].replace(',', ''))

221280994

In [73]:
# changing the gross value to an int
int_grosses = []
for i, movie in highest_grossing.iterrows():
    int_gross = int(movie['Gross'][1:].replace(',', ''))
    int_grosses.append(int_gross)

In [76]:
highest_grossing['Gross'] = int_grosses

In [78]:
#overwrite the csv with the grosses as ints
highest_grossing.to_csv('raw data\Highest-grossing films in the United States by year.csv', index=False)

**Finding the gross of best picture winners**

In [4]:
bp_wins=pd.read_csv('best_picture_winners.csv',delimiter=',',encoding='utf-8')

In [13]:
og_url = 'https://www.the-numbers.com/custom-search?searchterm=&searchtype=simple'
index = og_url.find('&')

In [21]:
grosses = []
for i, row in bp_wins.iterrows():
    url = og_url[:index] + row.primaryTitle + og_url[index:]
    r = requests.get(url)
    if r.status_code == 200:
        soup: BeautifulSoup = BeautifulSoup(r.content, "html.parser")
        tables = soup.findAll('table')
        if len(tables) >= 2:
            table = tables[1]
            year = table.findAll("td")[1].get_text()[-4:]
            if year == row.startYear:
                gross = int(table.findAll("td")[3].get_text()[1:].replace(',', ''))
                grosses.append(gross)

In [50]:
grosses = []
for i, row in bp_wins.iterrows():
    url = og_url[:index] + row.primaryTitle + og_url[index:]
    r = requests.get(url)
    if r.status_code == 200:
        soup: BeautifulSoup = BeautifulSoup(r.content, "html.parser")
        tables = soup.findAll('table')
        if len(tables) >= 2:
            table = tables[1]
            year = table.findAll("td")[1].get_text()[-4:]
            if year == str(row.startYear):
                gross = int(table.findAll("td")[3].get_text()[1:].replace(',', ''))
                grosses.append(gross)
            else:
                grosses.append(None)
        else:
            grosses.append(None)
    else:
        grosses.append(None)

In [51]:
bp_wins['gross'] = grosses

In [52]:
bp_wins

,averageRating,numVotes,primaryTitle,startYear,gross
0,7.7,104990,The French Connection,1971,41158757.0
1,9.2,1538687,The Godfather,1972,134966411.0
2,8.3,232085,The Sting,1973,159616327.0
3,8.1,497952,Rocky,1976,117235147.0
4,8.0,245153,Annie Hall,1977,38251425.0
5,8.1,299044,The Deer Hunter,1978,NaN
6,7.8,126407,Kramer vs. Kramer,1979,106260000.0
7,7.7,44700,Ordinary People,1980,52302978.0
8,7.2,52125,Chariots of Fire,1981,61558162.0
9,8.0,213013,Gandhi,1982,52767889.0
10,7.4,52525,Terms of Endearment,1983,108423489.0
11,8.3,355040,Amadeus,1984,51973029.0
12,7.2,68847,Out of Africa,1985,79096868.0
13,8.1,367909,Platoon,1986,137963328.0
14,7.7,89848,The Last Emperor,1987,43984987.0
15,8.0,458820,Rain Man,1988,172825435.0
16,7.4,94933,Driving Miss Daisy,1989,106593296.0
17,8.6,1209367,The Silence of the Lambs,1991,130726716.0
18,8.2,359926,Unforgiven,1992,101157447.0
19,8.9,1161411,Schindler's List,1993,96898818.0
20,8.8,1721273,Forrest Gump,1994,330151138.0
21,8.3,929849,Braveheart,1995,75545647.0
22,7.4,173019,The English Patient,1996,78716374.0
23,7.8,1007267,Titanic,1997,659363944.0
24,7.1,208698,Shakespeare in Love,1998,100317794.0
25,8.9,1579744,The Lord of the Rings: The Return of the King,2003,377845905.0
26,8.3,1034810,American Beauty,1999,130058047.0
27,8.5,1284792,Gladiator,2000,187683805.0
28,8.2,813911,A Beautiful Mind,2001,170708996.0
29,7.1,209642,Chicago,2002,170687518.0
30,8.1,613244,Million Dollar Baby,2004,100492203.0
31,8.5,1138740,The Departed,2006,132384315.0
32,8.1,812940,No Country for Old Men,2007,74273505.0
33,8.0,776363,Slumdog Millionaire,2008,141330703.0
34,7.7,556467,Argo,2012,136025503.0
35,8.0,620067,The King's Speech,2010,NaN
36,7.9,224381,The Artist,2011,44667095.0
37,8.1,395845,Spotlight,2015,45055776.0
38,8.1,612445,12 Years a Slave,2013,56671993.0
39,7.7,555344,Birdman or (The Unexpected Virtue of Ignorance),2014,42340598.0
40,7.4,254279,Moonlight,2016,NaN
41,7.3,347769,The Shape of Water,2017,NaN
42,8.6,391092,Parasite,2019,53369745.0
43,8.2,317700,Green Book,2018,NaN

In [59]:
# manually putting in some values
bp_wins.loc[bp_wins['startYear'] == 1978, 'gross'] = 50000000
bp_wins.loc[bp_wins['primaryTitle'] == 'Moonlight', 'gross'] = 27854931
bp_wins.loc[bp_wins['primaryTitle'] == 'The Shape of Water', 'gross'] = 63859435
bp_wins.loc[bp_wins['primaryTitle'] == 'Green Book', 'gross'] = 8080171

In [61]:
bp_wins

,averageRating,numVotes,primaryTitle,startYear,gross
0,7.7,104990,The French Connection,1971,41158757.0
1,9.2,1538687,The Godfather,1972,134966411.0
2,8.3,232085,The Sting,1973,159616327.0
3,8.1,497952,Rocky,1976,117235147.0
4,8.0,245153,Annie Hall,1977,38251425.0
5,8.1,299044,The Deer Hunter,1978,50000000.0
6,7.8,126407,Kramer vs. Kramer,1979,106260000.0
7,7.7,44700,Ordinary People,1980,52302978.0
8,7.2,52125,Chariots of Fire,1981,61558162.0
9,8.0,213013,Gandhi,1982,52767889.0
10,7.4,52525,Terms of Endearment,1983,108423489.0
11,8.3,355040,Amadeus,1984,51973029.0
12,7.2,68847,Out of Africa,1985,79096868.0
13,8.1,367909,Platoon,1986,137963328.0
14,7.7,89848,The Last Emperor,1987,43984987.0
15,8.0,458820,Rain Man,1988,172825435.0
16,7.4,94933,Driving Miss Daisy,1989,106593296.0
17,8.6,1209367,The Silence of the Lambs,1991,130726716.0
18,8.2,359926,Unforgiven,1992,101157447.0
19,8.9,1161411,Schindler's List,1993,96898818.0
20,8.8,1721273,Forrest Gump,1994,330151138.0
21,8.3,929849,Braveheart,1995,75545647.0
22,7.4,173019,The English Patient,1996,78716374.0
23,7.8,1007267,Titanic,1997,659363944.0
24,7.1,208698,Shakespeare in Love,1998,100317794.0
25,8.9,1579744,The Lord of the Rings: The Return of the King,2003,377845905.0
26,8.3,1034810,American Beauty,1999,130058047.0
27,8.5,1284792,Gladiator,2000,187683805.0
28,8.2,813911,A Beautiful Mind,2001,170708996.0
29,7.1,209642,Chicago,2002,170687518.0
30,8.1,613244,Million Dollar Baby,2004,100492203.0
31,8.5,1138740,The Departed,2006,132384315.0
32,8.1,812940,No Country for Old Men,2007,74273505.0
33,8.0,776363,Slumdog Millionaire,2008,141330703.0
34,7.7,556467,Argo,2012,136025503.0
35,8.0,620067,The King's Speech,2010,NaN
36,7.9,224381,The Artist,2011,44667095.0
37,8.1,395845,Spotlight,2015,45055776.0
38,8.1,612445,12 Years a Slave,2013,56671993.0
39,7.7,555344,Birdman or (The Unexpected Virtue of Ignorance),2014,42340598.0
40,7.4,254279,Moonlight,2016,27854931.0
41,7.3,347769,The Shape of Water,2017,63859435.0
42,8.6,391092,Parasite,2019,53369745.0
43,8.2,317700,Green Book,2018,8080171.0

In [62]:
bp_wins.to_csv('best_picture_winners.csv', index=False)